# STABLE OCR STACK (v2 ecosystem)
paddlepaddle==2.6.2
paddleocr==2.7.3
numpy
opencv-python-headless
# Misc dependencies
pillow
flask
flask-cors
requests
urllib3<2
charset-normalizer
pandas
openpyxl
gunicorn

